<!DOCTYPE html>

<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FundRaiser | Errore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename="css/errorHandle.css")}}">
</head>
  <body class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1>Errore {{e.code|e}}</h1>
        <p class="mb-0">{{e.description|e}}</p>
       <a href="{{ url_for('index') }}">Torna al menu principale</a>
    </div>
  </body>
  </html>