{% extends "base.html" %}
{% block links %}    <link rel="stylesheet" href="{{url_for('static',filename="/css/index.css")}}"> {% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<main>
    <div class="row pt-2">
        <div class="col-12 text-left">
          <h4>Raccolte Aperte {% if request.path != '/' %}di <span class="text-capitalize">{{user.name}} {{user.surname}}</span>{% endif %}</h4>
        </div>
    </div>
      <section>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
            {% for fund in funds %}
            <div class="col">
              <div class="card h-100">
                {% if fund['image'] %}
                <img src="{{ url_for('static',filename="img/"+fund['image']) }}" class="card-img-top" alt="...">
                {% else %}
                <svg class="bd-placeholder-img card-img-top"  xmlns="http://www.w3.org/2000/svg" id="imagePlaceHolder" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                </svg>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title text-capitalize">{{fund['title']|e}}</h5>
                  <p class="card-text"><span class="type text-capitalize">Raccolta {{fund['type']|e}}</span>
                    <br>
                    <span class="description">
                    {{fund['description']|e}}
                  </span>
                  </p>
                  <a href="{{ url_for('fund',id_fund=fund['id_fund']) }}" class="btn btn-primary buttonOpenCards m-1">Apri</a>
                  {% if user and user['id_user'] == fund['id_user'] %}
                  <a href="{{ url_for('change_fund',id_fund=fund['id_fund']) }}" class="btn btn-primary  buttonOpenCards m-1">Modifica</a>
                  <a href="{{ url_for('delete_fund',id_fund=fund['id_fund']) }}" class="btn btn-primary  buttonOpenCards m-1">Cancella</a>
                  {% endif %}
                </div>
                <div class="card-footer text-center">
                  <small class="text-body-secondary">Tempo rimanente: <br>
                    {% if fund['remaining_time'].days != 0 %}
                      {% if fund['remaining_time'].days == 1%}
                        1 giorno
                      {% else %}
                        {{fund['remaining_time'].days|e}} giorni
                      {% endif %}
                    {% endif %}
                    {% if fund['remaining_time'].hours != '0' %} 
                      {{fund['remaining_time'].hours|e}} ore
                    {% endif %}
                    {% if fund['remaining_time'].minutes != '00' %}
                      {{fund['remaining_time'].minutes |e}} minuti
                    {% endif %}
                    {% if fund['remaining_time'].seconds %}
                      {{fund['remaining_time'].seconds |e}} secondi
                    {% endif %}
                  </small>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </section>
</main>
{% endblock %}