{% extends "base.html" %}
{% block links %}    <link rel="stylesheet" href="{{url_for('static',filename="/css/show_fund.css")}}"> {% endblock %}
{% block title %}Raccolta Fondi{% endblock %}
{% block content %}
<aside class="d-flex col-12 col-lg-4">
    <div class="row w-100 fit-content">
    <div class="col-12">
    <h3>Donazioni</h3>
    <div id="divTable">
    <table class="table " id="tableDonations">
        <thead>
          <tr>
            <th scope="col">Donatore</th>
            <th scope="col">Importo</th>
          </tr>
        </thead>
        <tbody>
            {% for donation in donations['donations'] %}
          <tr>
            <td class="text-capitalize">{{donation['name']}} {{donation['surname']}}</td>
            <td>{{donation['amount']}}&euro;</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      </div>
    <div class="col-12 pt-2 d-flex align-items-end">
        <a href="{{ url_for('make_donation',id_fund=fund['id_fund']) }}" class="p-2 btn btn-info" id="buttonDona" role="button">Dona</a>
    </div>
    </div>
</aside>
<main class="col-12 col-lg-8">
    <div class="row w-100 mx-auto">
        <div class="col-12 pb-1 d-flex justify-content-between">
            <h3 class="text-capitalize">{{ fund['title'] }}</h3>
            <h3 class="status-open">Aperta</h3>            
        </div>
        <div class="col-12 row pe-0">
            <div class="col-6"><p class="text-capitalize">Raccolta Fondi {{ fund['type']|e }}</p></div>
            <div class="col-6 p-0 text-end"><p>Scadenza: {{ fund['end_timestamp']|e }}</p></div>
        </div>
        <div class="col-12 row pe-0">
            <div class="col-6"><p class="text-capitalize">Donazione Massima: {{ fund['max_donation']|e }}&euro;</p></div>
            <div class="col-6 p-0 text-end"><p>Donazine Minima: {{ fund['min_donation']|e }}&euro;</p></div>
        </div>
        <div class="col-12 position-relative">
            {% if fund['image'] %}
            <img src="{{url_for('static',filename="img/"+fund['image'])}}" class="img-fluid" alt="...">
            {% else %}
            <svg class="bd-placeholder-img card-img-top"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect id="imagePlaceHolder"></rect>
            </svg>
            <h4 class="centered">Image</h4>
            {% endif %}
        </div>
        <div class="col-12 row pe-0 mt-1">
            <div class="col-12 pe-0 mx-auto row">
                <div class="col-6 ps-0"><h6>Capitale Raccolto</h6></div>
                <div class="col-6 text-end p-0"><h6>Status: {{donations['total']}}&euro;/{{ fund['target']|e }}&euro;</h6></div>
            </div>
            <div class="progress p-0 mx-auto" id="progressBarDonazioni" role="progressbar" aria-label="Animated striped example">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ widthProgressBar }}%"></div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <h6 class="mb-1">Descrizione</h6>
            <p class="m-0 text-capitalize">
                {{ fund['description']|e }}
            </p>
        </div>
        <div class="col-12 ">
            <p class="text-end">Fondatore Raccolta: <i>{{ fund['full_name'] }}</i></p>
        </div>
    </div>
</main>
{% endblock %}